.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    height: 90vh;
}
.arrowsWrapper{
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    cursor: pointer;
}
.arrow{
    background-color: rgba(0, 0, 0, .8);
    font-size: 6rem;
    padding: .2rem 1rem .2rem 1rem;
    border-radius:1rem;
    cursor: pointer;
    color: #00d9ff;
    user-select: none;
    transition: all .4s;
}
.arrow:hover{
    transition: all .4s;
    box-shadow: 1px 1px 10px 1px white;
}
/* .arrowRight:hover{
    animation: spinArrowRight 1s infinite;
}
.arrowLeft:hover{
    animation: spinArrowLeft 1.6s infinite;
} */
.arrowRight:active{
    animation: none;
}
.arrowLeft:active{
    animation: none;
}
@keyframes spinArrowRight {
    15%{
        transform: rotate(-20deg)
    }
    30%{
        transform: rotate(20deg)
    }
    45%{
        transform: rotate(-20deg)
    }
    60%{
        transform: rotate(20deg)
    }
}
@keyframes spinArrowLeft {
    15%{
        transform: rotate(20deg)
    }
    30%{
        transform: rotate(-20deg)
    }
    45%{
        transform: rotate(20deg)
    }
    60%{
        transform: rotate(-20deg)
    }
}

.carouselButton{
    min-width: 5vw;
    position: absolute;
    bottom:0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: .8rem;
    transition: all .4s;
    padding: .5rem;
    margin-bottom: 1.4rem;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 12px;
}
.bullet{

    transition: all .4s;
    border: 1px solid white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color:white;
    cursor: pointer;
}
.bulletActive{
    background-color:transparent;
}