.wrapper{
    margin:0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(86, 146, 236);
    color:black;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}