.navbarMainWrapper{
    display:flex;
    flex-direction: column;
    background-color: none;
    width: 100vw;
    height:5.5rem;
    padding-bottom:0px;
}
.navbarSub{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: .4rem;
    transition: all .4s;
}
.navbarSubTop{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: .4rem;
    transition: all .4s;
    position:fixed;
    width: 100%;
    top: 0px;
    height: 5.5rem;
    background-color: rgba(0, 0, 0, .8)
}
.navbarSubHidden{
    transition: all .4s;
    overflow: hidden;
    width: 100%;
    height: 0px;
}
.allNav{

}
.menuBtnWrapper{
    display:flex;
    flex-direction: column;
    align-self: center;
    gap: .4rem;
    cursor: pointer;
    padding: 1rem;
    transition: all .4s;
    height: 64px;
}
.menuBtnWrapperOpen{
    display:flex;
    flex-direction: column;
    align-self: center;
    cursor: pointer;
    padding: 1rem;
    background-color: #00b8fc;
    transition: all .4s;
    height: 64px;
}
.menuLine{
    border-bottom: 3px solid #bebebe;
    width: 2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all .4s;
}
.menuLineWhite{
    transition: all .4s;
    border-color:white;
}
.menuTopLine{
    transition: all .4s;
    transform:translateY(.9rem) rotate(45deg);
}
.menuMiddleLine{
    display:none;
}
.menuBottomLine{
    position:absolute;
    transition: all .4s;
    transform:translateY(.9rem) rotate(-45deg);
}
.cartWrapper{
    display:flex;
    align-self: center;
    flex-direction: row;
    gap: 1rem;
}
.cartSearch{
    list-style: none;
}
.logo{
    max-height: 40px;
    align-self: center;
    cursor: pointer;
}
.icon{
    max-height: 24px;
    cursor: pointer;
}

